<a href="https://colab.research.google.com/github/sumeer786/Sparks-Foundation-Task-1/blob/main/Bi_Mini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing Libaries***

In [ ]:
import pandas as pd
import numpy as np

**Getting the data**

In [ ]:
dataset=pd.read_csv('laptop_pricing.csv')
x=dataset.iloc[:,1 :-1].values #features data
y=dataset.iloc[:, -1].values #price data

**Spliting the data into training set and test set**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
dataset.head()

  Manufacturer  IntelCore(i-)  ...  ScreenSize(inch)  Price
0         Dell              3  ...              15.6  39057
1         Dell              3  ...              15.6  45141
2           HP              3  ...              14.0  35999
3         ASUS              3  ...              14.0  39990
4           HP              3  ...              15.6  36263

[5 rows x 10 columns]

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

**Implementing using logistic regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

**Predicting the new result**

In [ ]:
print(classifier.predict(sc.transform([[2,5,2.3,4,1000,0,0,15.6]]))) #example

[30690]

**Predicting the test set result**

In [ ]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 26403  35999]
 [ 74931  97990]
 [ 99555 118890]
 [ 45390  42590]
 [ 30690  34890]
 [ 99555 118890]]